<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-app="app">
    Hello {{ 'world' }}
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
